img{
    max-width: 80%;
    padding: 20px;
}

h2{
    padding: 2%;
    color: #FFF;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.link{
    padding: 15px;
    color: #FFF;
    font-weight: bold;
}


@media (max-width: 665px) {

    .link{
        margin-top: 10px;
        color: #FFF;
        font-weight: bold;
    }
    
    
}